/* global*/


*{
    box-sizing: border-box;
}

html{
    font-size: 14px;
    background-color: rgb(47, 90, 69);
    color: rgb(0, 0, 0) ;
}

a{
    color: rgb(0, 0, 0);
    font-weight: bolder;
    text-decoration: none;
    font-size: large;
}
h1{
    font-size: 16px;
    font-weight: bolder;
}

/* home.html*/

.container{
    margin: 20px;
    padding: 20px;

}
.subforum-title{
    background-color: rgb(183, 230, 157);
    padding: 5px;
    border-radius: 5px;
    margin: 4px;
    color: black;
}

.subforum-row{
    display: grid ;
    grid-template-columns: 67% 13% 20% ;}

.subforum-column{
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    background-color: rgb(141, 139, 151);
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*navigation_bar*/

header{
    margin-inline: 40px ;
}
.navigation_bar{
    display: flex;
    align-items:flex-start;
}
.navigation{
    background-color:rgb(97, 124, 124);
    padding: 5px;
    width: 46%;
    display:flex;
    border-radius: 5px;
    max-height: 80px;
    margin-right: 5px;
}
.navigation_list{
    list-style-type:none;
    overflow: hidden;
}

.navigation_item {
    float: left;
    display: block;
    position: relative;
    margin-inline: 40px;
}
.navigation_item:hover{
    background-color: rgb(30, 180, 50);
}

.navigation_link{
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.close_icon {
    font-size:30px;
    float:left;
    cursor: pointer;
    font-weight:bolder;
   
}
.hide{
    display: none;
}
.bar_icon{
    font-size: 50px;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}
.Brand{
    font-size: 60px;
    display: inline-block;
}
