.page {
    max-width: 2000px;
    min-width: 320px;
    height: 100vh;
    display: flex;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.page::before {
    content: "";
    background-color: black;
    opacity: .4;
    position: absolute;
    width: 100%;
    height: 100%;
}

.navbar {
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-direction: column;
    /* max-height: 1vh; */
    /* height: 100%; */
    max-width: 50%;
    width: 100%;
    margin-top: 200px;
    color: rgb(255, 255, 255);
    z-index: 3;
}

.logo {
    font-weight: 900;
    font-size: 80px;
    font-weight: 900;
    color: tomato;
    background-color: transparent;
    font-style: italic;
    font-weight: bolder;
}

a {
    margin: 0;
    padding: 0;
}

.menu {
    padding: 0;
    max-width: 50%;
    float: left;
    list-style: none;
    text-align: center;
}

.list {
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    border: solid 2px white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 25%;
    background-color: #2a9433;
    padding: 5px 10px;
    background-image: url(../images/NavBack.gif);
    background-size: cover;
}

.buttons {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: large;
    color: whitesmoke;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.table:not(.menu) {
    background-color: transparent;
    background-repeat: no-repeat;
    color: black;
    width: 200%;
    display: table;
    border: solid 3px;
    align-self: auto;
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}