
*{
  box-sizing: border-box;
}
.page{
  min-width: 360px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  box-sizing: border-box;
  background-image: url(../images/testbackground.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 40% 15%;
}

.menu {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu__logo {
  border-radius: 50%;
  width: 50px;
  height: 45px;
  margin-left: 20px;
}

.menu__ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin-right: 10px;
  font-weight: bolder;
}

.menu__li {
  margin: 0;
  margin-right: 10px;
}

.menu__link {
  text-decoration: none;
  color: white;
}

.menu__link:hover {
  opacity: 0.5;
}

.quiz-container{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height:93vh;
}
.quiz-header{
  width: 50%;
  height: 50%;
  background-color: rgba(255,255,255, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px 2px;
}
.qiuz-title{
  margin: 0; 
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  line-height: 1.15;
  font-size: 60px;
  text-align: center;
}

.options{
  margin-top: 50px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.list-options {
  list-style: none;
}


.variants {
  width: 300px;
  min-height: 75px;
  border: 1px solid gray;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: white;
  box-shadow: 0 3px 5px  gray;
  position: relative;
  font-size: 85%;
  font-weight: 600;
  cursor: pointer;
  background-color: #fff;
  text-align: center;
}

.variants:hover {
  border-color: black;
}

.answer[type="radio"] {
  display: none;
}

.answer[type="radio"]:checked + .variants {
  color: white;
  background-color: #eda8f7;
}

.submit-holder{
  display: flex;
  justify-content: center;
  margin: 0;
  margin-bottom: 40px;
  width: 340px;
  height: 60px;
  border: 0;
  font-size: 0;
  
}

.button[type="submit"] {
  width: 50%;
  height: 40px;
  font-size: 14px;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: opacity .4s;
  color: white;
  font-family: inherit;
  background-color: rgb(235, 20, 152);
  color: white
}

/* Change submit button color when pressed */
.button:focus{
  outline: none;
  background-color: rgba(224, 21, 147);
}
.button[type="submit"]:hover {
  opacity: .7;
}

.reload {
  width: 50%;
  height: 40px;
  font-size: 14px;
  border: 0;
  margin: 0;
  padding: 0;
  border-radius: 30px;
  cursor: pointer;
  transition: opacity .4s;
  color: white;
  font-family: inherit;
  background-color: rgb(235, 20, 152);
  color: white
}